{% extends "layout.html" %}
{% block content %}
<article class="content-section">
    <p>Personal blog site built with Python, Flask, HTML5 and Boostrap</p>
    <p>Coded by Julian Hysi, with love</p>
    <p>To get in touch with me, see the Contact section on the sidebar</p>
    <p>All of the source code for this website is available <a href="https://github.com/JulianHysi/personal-blog"><b>here</b></a></p>
    <p>Feel free to contribute to it</p>
    <p><i><b>Under construction</b></i></p>
</article>
{% endblock content %}