{% for post in posts.items %}
<article class="media content-section">
    <a href="{{ url_for('posts.all_posts') }}">
        <img class="rounded-circle article-img"
             src="{{ url_for('static', filename='profile_pics/' + post.author.profile_pic) }}">
    </a>
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('posts.all_posts') }}">{{ post.author.username }}</a>
            <small class="text-muted right"> {{ post.date_posted.strftime('%-d %B, %Y') }} </small>
        </div> <br>
        <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
    </div>
</article>
{% endfor %}
