{% extends "main/layout.html" %}
{% block content %}

    {% if not tag %}
        <h3 class="mb-3">All posts :</h3>
    {% else %}
        <h3 class="mb-3">All #{{tag}} posts :</h3>
    {% endif %}

    {% include "posts/_posts_overview.html" %}
		
    {% if posts.has_next or posts.has_prev %}  <!-- don't show pagination if there's just one page -->
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    {% if tag %}
                        <a class="btn btn-info mb-4" href="{{ url_for('posts.posts_by_tag', tag_content=tag, page=page_num) }}">
                            {{ page_num }}</a>
                    {% else %}
                        <a class="btn btn-info mb-4" href="{{ url_for('posts.all_posts', page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    {% if tag %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('posts.posts_by_tag', tag_content=tag,
                                                                               page=page_num) }}">
                            {{ page_num }}</a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('posts.all_posts', page=page_num) }}">
                            {{ page_num }}</a>
                    {% endif %}
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock content %}
