{% extends "main/layout.html" %}
{% block content %}

<div class="content-section">

    <form method="POST" action="">

        {{ form.hidden_tag() }} <!-- CSRF token-->

        <fieldset class="form-group">

            <legend class="border-bottom mb-4">Comment on post :</legend>
            
            <h2 class="article-title">{{ post.title }}</h2> <br>
            <p class="article-content">{{ post.content | safe }}</p> <br>

            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}

                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
            <button class="btn btn-warning"><a href="{{ url_for('main.home') }}">Cancel</></button>
        </div>

    </form>

</div>

{% endblock content %}
