*{
    margin: 0;
    padding: 0;
 }

body
{
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color: #e5ece4;
    line-height: 1.6;
}

/* Header */

#showcase
{
    background-image: url('../misc_images/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1
{
    font-size: 50px;
    line-height: 1.2;
}

#showcase p
{
    font-size: 20px;
    margin-top: 30px;
}

#showcase .button
{
    font-size: 20px;
    text-decoration: none;
    color: #d1eed7;
    border: #3634d4 2px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
}

#showcase .button:hover
{
    background: #ff1111;
}

#section-a
{
    padding: 20px;
    background: #926239;
    text-align: center;
}


/* Sections */


.pimg2, .pimg3
{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg2
{
  background-image: url('../misc_images/image2.jpg');
  min-height: 400px;
}

.pimg3
{
  background-image: url('../misc_images/image3.jpg');
  min-height: 400px;
}

.section
{
  text-align: center;
  padding: 50px 80px;
}

.section-light
{
  background-color: #f4f4f4;
  color: #666;
}

.section-dark
{
  background-color: #282e34;
  color: #ddd;
}

.ptext
{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border
{
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans
{
  background-color: transparent;
}

@media(max-width: 568px)
{
  .pimg2, .pimg3
  {
    background-attachment: scroll;
  }
}
