body 
{
  background: #fafaeb;
  color: #333333;
  margin-top: 6rem;
}

img
{
    max-width: 100%;
    height: auto !important;
}

h1, h2, h3, h4, h5, h6 {color: #444444;}

a:hover {text-decoration: none;}

ul {list-style-type: none;}

.bg-fblue {background-color: #3b5998;}

.site-header .navbar-nav .nav-link {color: #cbd5db;}

.site-header .navbar-nav .nav-link:hover {color: #ffffff;}

.content-section 
{
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 15px;
  margin-bottom: 30px;
}

.article-title {color: #3f3e3e;}

a.article-title:hover {color: #438ecf;}

.article-content {white-space: pre-line;}

.article-img 
{
  height: 60px;
  width: 60px;
  margin-right: 15px;
}

.article-metadata 
{
  padding-bottom: 1px;
  margin-bottom: 7px;
  border-bottom: 1px solid #e2dfdf
}

.article-metadata a:hover 
{
  color: #333;
}

.account-img 
{
  height: 120px;
  width: 120px;
  margin-right: 25px;
  margin-bottom: 20px;
}

.account-heading {font-size: 2.75rem;}

.right {float: right;}

form textarea#content {height: 500px;}

.sidebar-paragraph{margin-left: 10px;}

.dropdown > a, .dropbtn 
{
  display: inline-block;
  color: #cbd5db;
  padding: 8px 25px;
}

.dropdown > a:hover, .dropdown:hover .dropbtn {color: #ffffff;}

.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: #3b5998;
  min-width: 120px;
}

.dropdown-content a {padding: 12px;}

.dropdown-content a:hover {color: #ffffff;}

.dropdown:hover .dropdown-content {display: block;}

#tag-count 
{
  padding-left: 30px;
  font-size: 70%;
}

#comment-section
{
  border-bottom-style: solid;
  border-width: 1px;
  border-color: rgb(167, 186, 226);
  margin-bottom: 40px;
  margin-top: 50px
}

#comment
{
  margin-left: 0px; 
  background-color: #f2eecb;
}

#comment-author {color: #3e7cf0}

.sidebar-section
{
  border-bottom: 2px solid #dddddd;
  word-wrap: break-word;
}

.sidebar-section:last-child {border-bottom: none;}

.bottom-btns
{
    display: flex;
    justify-content: space-between;
}

.comment-btn
{
  flex: 2;
}

.share-btns
{
  flex: 3
}
