<header class="site-header">
	<nav class="navbar navbar-expand-md navbar-dark bg-fblue fixed-top">
		<div class="container">

			<a class="navbar-brand mr-4" href="{{ url_for('main.home') }}">Julian's Blog</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
				aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarToggle">
				<div class="navbar-nav mr-auto">
					<a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
					<div class="dropdown">
						<a href="javascript:void(0)" class="nav-item nav-link dropbtn">Posts</a>
						<div class="dropdown-content">
							<a class="nav-item nav-link" href="{{ url_for('posts.all_posts') }}">All Posts</a>
							<a class="nav-item nav-link" href="{{ url_for('posts.tags') }}">Posts by Tag</a>
						</div>
					</div>
					<a class="nav-item nav-link" href="{{ url_for('books.all_books') }}">Books</>
					<a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
				</div>

				<!-- Navbar Right Side -->
				<div class="navbar-nav">

					{% if g.search_form %}
					<form class="navbar-form navbar-left" method="get"
						  action="{{ url_for('main.search') }}">
						<div class="form-group mb-0 mt-1 input-group-sm">
							{{ g.search_form.q(size=20, class='form-control',
								placeholder=g.search_form.q.label.text) }}
						</div>
					</form>
					{% endif %}

					{% if current_user.is_authenticated %}
						{% if current_user.is_admin  %} 
						<!-- show the New Post and Add Book option only when it's me who is logged in -->
							<a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New post</a>
							<a class="nav-item nav-link" href="{{ url_for('books.add_book') }}">Add Book</a>
						{% endif %}
						<a class="nav-item nav-link" href="{{ url_for('users.account') }}">Profile</a>
						<a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Log Out</a>
					{% else %}
						<a class="nav-item nav-link" href="{{ url_for('users.login') }}">Log In</a>
						<a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
					{% endif %}
				</div>

			</div>
		</div>
	</nav>
</header>
