{% extends "main/layout.html" %}
{% block content %}

<article class="content-section">
    <p>Personal blog site built with Python, Flask, HTML5 and Boostrap</p>
    <p>Deployed on March 2021</p>
    <p>For more details on how I built it, see <a href="#"><b>this</b></a> blog post</p>
    <p>To get in touch with me, see the <b>Contact</b> section on the sidebar</p>
    <p>The entire source code is available <a href="https://github.com/JulianHysi/personal_blog"><b>here</b></a><br>
    Feel free to clone it for your own needs, or fork and contribute to it</p>
</article>

{% endblock content %}
