<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing_page.css') }}">

    <title>Julian's Blog</title>
</head>

<body>

    <header id="showcase">
        <h1>Hi, my name is Julian Hysi and I'm a Software Engineer.</h1>
        <p>
            Welcome to my blog, where I share my 2 cents on programming and technology.<br>
            Click the button to proceed, or scroll down for a brief description of me.
        </p>
        <a href="{{ url_for('main.home') }}" class="button">Continue</a>
    </header>

	<section class="section section-light">
		<h2>About Me</h2>
		<p class="pt-4">
            I am a young Software Engineer currently based in Tirana, Albania. I have graduated in Software Engineering and 
            I have been working full-time as one, since prior to my graduation.<br>
            Most of my work revolves around back-end development and working with databases, and ocassionally
                            writing some standalone scripts to automate tasks.<br>
            I worked at 2 companies for 4 years before quiting and switching to full-time freelancing.
        </p>
        <p class="mt-4">
            I stay up to date by reading (other developers') blogs, scrolling through Twitter, GitHub, LinkedIn and
            StackOverflow, diving into documentation, watching video tutorials/talks, but most importantly, by reading books.<br>
            Proceed to the blog and on the sidebar you'll find my contact info, and the books I recommend on the Books page.
		</p>
	</section>

	<section class="section section-dark">
		<h2>Tech Stack</h2>
		<p class="pt-4">
            My tech belt includes Python, Java, X++, SQL, Flask, Django, pandas, matplotlib, HTML, Bootstrap, Linux, bash, git, vim,
            nginx, TFVC, ERP, SQLite, Microsoft SQL Server, PostgreSQL etc.
		</p>
	</section>

	<div class="pimg2">
	</div>

	<section class="section section-dark">
	    <h2>My Modus Operandi</h2>
		<p class="pt-4">
            My code incorporates the OOP paradigm, design patterns, SOLID principles, algorithm complexity, language/framework best
            practices, documentation, testing, clean code and refactoring, and security measures.
        </p>
	</section>

	<section class="section section-light">
		<h2>Experiences</h2>
		<p class="pt-4">
            I have experience with DevOps, SCRUM and issue tracking systems, backups, deploying and servers, code and database
            migrations, technical consultance, functional requirements writing, large codebases, large teams, hands-on client meetings,
            talks and presentations, remote work/assistance, junior mentorship, database design and normalization etc.
		</p>
	</section>

    <div class="pimg3">
	</div>

    <section class="section section-light">
        <h2>Looking to learn</h2>
        <p class="pt-4">
            I'm a tech enthusiast always looking for something to learn/practice. Right now hot on my list are Machine Learning,
            TDD, FastAPI, some Javascript framework (React or Vue), functional programming (Clojure), XP, competitive programming.
        </p>
    </section>

    <section class="section section-dark">
        <h2>Hobbies</h2>
        <p class="pt-4">
            Outside the world of programming and computers, I enjoy walking and exploring nature, riding the bicycle, eating healthy,
            reading science, fiction and medicine, living a minimalist life, teaching others what I know, learning and 
            continuous self-improvement, spending time with my family, watching stand-up comedy.
        </p>
    </section>

</body>

</html>
