<!DOCTYPE html>
<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"> 

    {{ ckeditor.load_code_theme() }}

    {% if title %}
        <title>Julian's Blog - {{ title }}</title>
    {% else %}
        <title>Julian's Blog</title>
    {% endif %}
    </head>
    <body>

        <!-- Navigation Bar begin-->
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-fblue fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="{{ url_for('main.home') }}">Julian's Blog</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
                            <div class="dropdown">
                                <a href="javascript:void(0)" class="nav-item nav-link dropbtn">Posts</a>
                                <div class="dropdown-content">
                                    <a class="nav-item nav-link" href="{{ url_for('posts.all_posts') }}">All Posts</a>
                                    <a class="nav-item nav-link" href="{{ url_for('posts.tags') }}">Posts by Tag</a>
                                </div>
                            </div>
                            <a class="nav-item nav-link" href="{{ url_for('books.all_books') }}">Books</>
                            <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                        {% if current_user.is_authenticated %}
                            {% if current_user.is_admin  %} 
                            <!-- show the New Post and Add Book option only when it's me who is logged in -->
                                <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New post</a>
                                <a class="nav-item nav-link" href="{{ url_for('books.add_book') }}">Add Book</a>
                            {% endif %}
                            <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Profile</a>
                            <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Log Out</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Log In</a>
                            <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Navigation Bar end-->

        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock %}
                  </div>

                  {% if hide_sidebar != True %}
                  <div class="col-md-4">
                    <div class="content-section">

                        <ul class="list-group">

                            <li class="text-center mt-2">Welcome !</li>
                            <div class="sidebar-section">
                                <br>
                                <p class="sidebar-paragraph">Hi, my name is Julian Hysi and I'm a Software Engineer.</p>
                                <p class="sidebar-paragraph">I've built this blog to share my thoughts.</p>
                                <p class="sidebar-paragraph">Hope you have a nice stay! </p>
                                <br>
                            </div>

                            &emsp;

                            {% if sidebar_posts: %}
                            <li class="text-center">Latest Posts</li>
                                <div class="sidebar-section">
                                    <ul>
                                        <br>
                                        {% for post in sidebar_posts %}
                                            <li><p>- <a href="{{ url_for('posts.post', post_id=post.id)}}">{{post.title}}</a></p></li>
                                        {%endfor%}
                                        <br>
                                    </ul>
                                </div>
                            {% endif %}
                            
                            &emsp;

                            <li class="text-center">Contact</li>
                            <div class="sidebar-section">
                                <ul>
                                    <br>
                                    <li><p>Twitter:  &emsp; <a href="https://twitter.com/JulianHysi">@JulianHysi</a></p></li>
                                    <li><p>GitHub:  &emsp; <a href="https://github.com/JulianHysi">@JulianHysi</a></p></li>
                                    <li><p>Email:    &emsp; julian_hysi@yahoo.com</p></li>
                                    <li>Email:    &emsp; julian_hysi@live.com</li>
                                    <br>
                                </ul>
                            </div>

                        </ul>
                    </div>
                  </div>
                  {% endif %}
                
            </div>
        </main>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
