{% extends "main/layout.html" %}

{% block content %}

    <h2>Search Results :</h2>

    {% if not results %}
        <h4 class="text-muted mt-5">No matching result found..</h4>
    {% else %}

        {% for post in posts %}
            <article class="media content-section">
                <a href="{{ url_for('posts.all_posts') }}">
                    <img class="rounded-circle article-img"
                         src="{{ url_for('static', filename='profile_pics/' + post.author.profile_pic) }}">
                </a>
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{{ url_for('posts.all_posts') }}">{{ post.author.username }}</a>
                        <small class="text-muted right"> {{ post.date_posted.strftime('%-d %B, %Y') }} </small>
                    </div> <br>
                    <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
                </div>
            </article>
        {% endfor %}

        <nav aria-label="...">
            <div class="text-center">
            {% if prev_url %}
                <a class="btn btn-outline-info mb-4" href="{{ prev_url }}">
                    <span aria-hidden="true">&larr;</span>Prev
                </a>
            {% else %} 
                <a class="btn btn-outline-info mb-4 disabled" href="#">
                    <span aria-hidden="true">&larr;</span>Prev
                </a>
            {% endif %}
            
            {% if next_url %}
                <a class="btn btn-outline-info mb-4" href="{{ next_url }}">
                    Next<span aria-hidden="true">&rarr;</span>
                </a>
            {%  else %}
                <a class="btn btn-outline-info mb-4 disabled" href="#">
                    Next<span aria-hidden="true">&rarr;</span>
                </a>
            {% endif %}
            </div>
        </nav>

    {% endif %}

{% endblock %}
